* {
    margin: 0;
    padding: 0;
}

$colorPrincipal: #7B0124;
$colorSecundario: #FDCAD9;


body {
    background-color: $colorSecundario;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import "header";

#gradiente {
    background: linear-gradient(to left, #e46a8e, #FBEAEF);
}

.logoYasemir {
    width: 80px;
    background: #FBEAEF;
    border-radius: 50px;
    border: 2px solid $colorSecundario; 
    margin-left: 2%;
}

h2 {
    font-size: 30px;
    color: #ccc;
    padding-bottom: 1em;
}

p {
    font-size: 20px;
}


li {
    display: inline-block;
    width: 150px;
    position: relative;
    font-size: 16px;
}

ul {
    list-style: none;
    text-align: center;

    ul{
        position: absolute;
        display: none; 
    }

    li{
        display: block;
    }

    a{
        text-decoration: none;
        color: darkred;  
    }
}

.nav{
    width: 100%;
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: #FBEAEF;
    li {
        display: inline-block;
    }

    a {
        padding: 10px 20px;
        display: inline-block;
        color: $colorPrincipal;
    }
}


ul li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}

.subNav {
    background-color: #FBEAEF;
}

li a:hover {
    background: #fff;
    color: $colorPrincipal;
}

article div a p {
    background: #fc658f;
    color: $colorPrincipal ;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
} 

.d-flex { 
    button{
    border: 1px solid ;
    color: black;

    &:hover{
        background-color: $colorSecundario;
        border: $colorSecundario;
        color: black;
    }
}
}
    
div {
    display: grid;
}

.inicio {
    width: 100%;
    margin: auto;
    font-size: 16px;
    min-height: 40em;
    color: aliceblue;
    background-image: url(../media/parainicio.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
    display: flex;
    align-items: flex-end;

    .nombre {
    margin: 0 auto;
    margin-bottom: 3em;
    color: $colorSecundario;
}
}

.foto {
    width: auto;
    background-color: #FBEAEF;
    padding: 10px 30px 10px 10px;
    display: flex;
    text-align: center;
}

h3 {
    color: $colorPrincipal;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    margin: 1em;
}

textarea {
    resize: vertical;
    max-height:300px;
    min-height:100px;
}

input:focus, textarea {
    border: 1px solid $colorPrincipal;
}

label {
    font-size: 15px;
}

section div a p {
    background: #fc658f;
    color:$colorPrincipal;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
} 

.centrar {
    background-color: #fc658f;
    text-align: center;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    img {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 30px;
        margin: 1px 4px 5px 4px;
    }

    p {
        background-color: #fc658f;
        color: darkred
    }
}

.fotosRedes {
    display: inline-block;
    margin-top: 7em;
}

/* Css Sobre mi*/

h1 {
    color:$colorPrincipal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
}

.foto {
    width: 180px;
    height: auto;
    margin: auto;
    display: inline-block;
}

section article p {
    color:$colorPrincipal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify; 
}

.fotoSobreMi {
    width: 750px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin: auto;
}

/* Hasta acá Css Sobre mi*/

/* Css Productos*/

.card-body {
    
    a {
    background-color:$colorPrincipal;
    border: 1px solid $colorSecundario;
    margin: auto;
    &:hover{
        background-color: #e46a8e;
        color: $colorPrincipal;
        border: 1px solid $colorPrincipal;
    }
}
    h5 {
        text-align: center;
    }
}


/* Hasta acá Css Productos*/

/* Css de contacto */

.col-1 {
    button {
    background-color:$colorPrincipal;
    color: #FBEAEF;
    border: 1px solid $colorSecundario;
        &:hover {
            background-color: #e46a8e;
            color: $colorPrincipal;
            border: 1px solid $colorPrincipal;
        }
    }
}


/* Hasta acá Css de contacto*/

/* GRIDS */

.gridMasVendidos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloP tituloP tituloP" "less vedetina conjuntos";
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.tituloVendidos {
    width: 20em;
    grid-area: tituloP;
    border-radius: 20px;
    background-color: #FBEAEF;
    margin-bottom: 1em;
    padding: 0.5em;
    color:$colorPrincipal;
}

.less {
    grid-area: less;
}

.vedetina {
    grid-area: vedetina;
}

.conjuntos {
    grid-area: conjuntos;
}

.foto {
    width: auto;
    background-color: #FBEAEF;
    margin-bottom: 1em;
    padding: 10px 30px 10px 10px;
    text-align: center;
}

.gridPacks {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "pless pcoulotte" "pvedetina pbralette" "pbustier pconjuntos";
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    column-gap: 3em;
    row-gap: 10px;
}

.packLess{
    grid-area: pless;
}

.packCoulotte {
    grid-area: pcoulotte;
}

.packVedetina {
    grid-area: pvedetina;
}

.packBralette {
    grid-area: pbralette;
}

.packBustier {
    grid-area: pbustier;
}

.packConjuntos {
    grid-area: pconjuntos;
}

/* GRIDS SOBRE MI */

.gridSobreMi {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 8% auto auto auto 3%;
    grid-template-areas: "tituloSobreMi" "primerP" "fotoSobreMi" "segundoP" "botonSuscribirme";
    justify-content: center;
    justify-items: stretch;
    align-content: center;
}

.tituloSobreMi {
    grid-area: tituloSobreMi;
}
.primerP{
    grid-area: primerP;
}
.fotoSobreMi{
    grid-area: fotoSobreMi;
}
.segundoP{
    grid-area: segundoP;
}
.botonSuscribirme{
    grid-area: botonSuscribirme;
}

/* MEDIA QUERIS */

@media screen and (min-width: 320px) {
    
    .gridMasVendidos,
    .gridPacks,
    .gridSobreMi,
    .gridProductos,
    .gridContacto {
        display: grid;
    }

    /* MEDIA QUERIS INDEX */

    .gridMasVendidos {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tituloP" "less";
        justify-content: space-evenly;
        justify-items: center;
        text-align: center;
    }

    .gridPacks {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "pless" "pvedetina" "pbustier";
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        column-gap: 3em;
        row-gap: 10px;
    }

    .logoYasemir {
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    
    /* MEDIA QUERIS SOBRE MI */

    .gridSobreMi {
        grid-template-columns: 75%;
        grid-template-rows: 8% auto auto auto 3%;
        grid-template-areas: "tituloSobreMi" "primerP" "fotoSobreMi" "segundoP" "botonSuscribirme";
        justify-content: center;
        justify-items: stretch;
        align-content: center;
    }

    .fotoSobreMi {
        width: 180px;
    }

   /* MEDIA QUERIS CONTACTO - MI CUENTA */

   .gridContacto {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "forms";
        justify-content: center;
        align-content: center;
    }

    footer img {
        margin: 1px 1px 1px 1px;
    }

    textarea {
        resize: vertical;
        width: auto;
        height: 50%;
    }
}


@media screen and (min-width: 1200px) {
    
    .gridMasVendidos,
    .gridPacks,
    .gridSobreMi,
    .gridProductos,
    .gridContacto {
        display: grid;
    }
    /* MEDIA QUERIS INDEX */

    .gridMasVendidos {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tituloP tituloP tituloP" "less vedetina conjuntos";
        justify-content: space-evenly;
        justify-items: center;
        text-align: center;
    }

    .gridPacks {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "pless pcoulotte" "pvedetina pbralette" "pbustier pconjuntos";
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        column-gap: 3em;
        row-gap: 10px;
    }
    
     /* MEDIA QUERIS SOBRE MI */

     .gridSobreMi {
        grid-template-columns: 75%;
        grid-template-rows: 8% auto auto auto 3%;
        grid-template-areas: "tituloSobreMi" "primerP" "fotoSobreMi" "segundoP" "botonSuscribirme";
        justify-content: center;
        justify-items: stretch;
        align-content: center;
    }

    .fotoSobreMi {
        width: 750px;
        height: auto;
        margin: auto;
        display: block;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* MEDIA QUERIS PRODUCTOS */

    nav {
        display: block;
    }

    .fotoInicio {
        display: block;
    }

    /* MEDIA QUERIS CONTACTO - MI CUENTA*/

    .gridContacto {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "forms";
        justify-content: center;
        align-content: center;
    }
    
    .form {
        grid-area: forms;
        text-align: center;
    }
}